@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.weather-card {
  display: flex;
  justify-content: space-between;
}
.weather-card-main {
  width: 400px !important;
  border-top: 2px solid red !important;
}

.app-header {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  color: #8155BA;
  font-weight: 600;
}

.weather-card-child{
  font-family: 'Montserrat', sans-serif !important;
  margin-top: 10px;  
}

.icon-container {
  position: relative;
  right: -100px;
}

.temp-desc {
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif !important;
}

.forecast-card {
  border-top: 2px solid #695E93 !important;
}

.forecast-header {
  font-family: 'Montserrat', sans-serif !important;
}

.forecast-date {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
  margin-bottom: 20px;
}

.dropdown-menu {
  width: 400px !important;
}