@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: #addaef7d;
}

.main {
  /* height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.weather-card {
  display: flex;
  justify-content: space-between;
}
.weather-card-main {
  width: 25% !important;
  border-top: 2px solid red !important;
}

.app-header {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  color: #8155BA;
  font-weight: 600;
  line-height: 40px;
}

.weather-card-child{
  font-family: 'Montserrat', sans-serif !important;
  margin-top: 10px;  
}

.icon-container {
  position: relative;
  right: -100px;
}

.temp-desc {
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif !important;
}

.forecast-card {
  border-top: 2px solid #695E93 !important;
}

.forecast-header {
  font-family: 'Montserrat', sans-serif !important;
}

.forecast-date {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
  margin-bottom: 20px;
}

.dropdown-menu {
  width: 400px ;
}

.icon-container{
  position: absolute;
  right: 20px;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.humidity {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .forecast-card {
    min-width: 43%;
  }
  .dropdown-menu {
    max-width: 80%;
    margin: auto;
  }

  .weather-card-main {
    width: 100% !important;
  }

  .forecast-container {
    justify-content: space-between;
    margin-right: -0.5em;
  }

  .app-header {
    text-align: center;
  }
}

.info-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  opacity: 0.5;
}

.footer {
  text-align: center;
  margin-top: 50px;
}